:root {
    --primary: #FFC8DD;
    --light: #BDE0FE;
    --dark: #CDB4DB;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

/* navigation ----------------------------------------------------------- */

.nav-container {
    display: flex;
    height: 40vh;
    max-width: 100%;
    background-color:#ffc8dd;
    margin: 0px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.365),rgba(0, 0, 0, 0.365)),url('img/herobg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: nowrap;
    
    
}

#navigation h1 {
    font-family: charlotte;
    color: #d1a1b2;
    text-shadow: 1px 1px 2px rgb(2, 2, 2);
    font-weight: 100;
    align-self: flex-start;
    text-transform: lowercase;
    padding: 10px 50px 17px 45%;
    font-size: 20px;
    display: flex;
    white-space: nowrap;
}

li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(2, 2, 2);
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 12x;
    padding: 25px 15px 25px 20%;
    max-width: 768px;
}    

li a:hover {
    color: #d1a1b2;
    transition: 0.8s;
    animation: bounce 1s;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

#navigation .sign-in  {
    max-height: 30px;
    width: 90px;
    margin: 19px;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #d1a1b2;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(48, 48, 48);
}

#navigation .sign-in:hover {
    animation: bounce 0.9s;
    background-color: #fff;
    color: #d1a1b2;
    transition: 0.8s;
    cursor: pointer;
    text-shadow: none;
}


#button-holder a {
    display: flex;
    padding: 25px 0px 0px 10px;
    height: 20px;
}

#button-holder a:hover {
    animation: bounce 0.9s;
    cursor: pointer;
}

/* services -------------------------------------------------------------- */

.srv-container {
    display: flex;
    height: 60vh;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 241, 251, 0.169);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.srv-content {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    
    
}

.srv-one {
    text-align: justify;
    max-width: 373px;
    padding: 34px;
    
    
    
}






.srv-two {
    text-align: justify;
    max-width: 373px;
    padding: 34px;
    
}

.srv-three {
    text-align: justify;
    max-width: 373px;
    padding: 34px;
    
    
}

.srv-one h1 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.srv-two h1 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    
}

.srv-three h1 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.srv-one p {
    padding: 15px 40px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    
}

.srv-two p {
    padding: 15px 40px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.srv-three p {
    padding: 15px 40px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.srv-one img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 0 3.5px 0.3px rgb(62, 53, 41);
    transition: 1s ease;
}

.srv-one img:hover {
    opacity: 0.6;
    color: #000000;
    -webkit-filter: blur(1.6px);
    transition: 1.1s ease;
    cursor: pointer;
}

.srv-two img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 0 3.5px 0.3px rgb(62, 53, 41);
}

.srv-two img:hover {
    opacity: 0.6;
    color: #000000;
    -webkit-filter: blur(1.6px);
    transition: 1.1s ease;
    cursor: pointer;
}

.srv-three img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 0 0 3.5px 0.3px rgb(62, 53, 41);
    
}

.srv-three img:hover {
    opacity: 0.6;
    color: #000000;
    -webkit-filter: blur(1.6px);
    transition: 1.1s ease;
    cursor: pointer;
}

/* ----buttons------------------------------------------------------------------ */
 
.buttons {
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 241, 251, 0.169);
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
}

.first {
    
}
  


@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }